RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^dashboard/?$    index.php    [NC,L]
RewriteRule    ^login/?$    login.php    [NC,L]
RewriteRule    ^logout/?$    logout.php    [NC,L]

RewriteRule    ^home/?$    home.php    [NC,L]

RewriteRule    ^profile/?$    profile.php    [NC,L]
RewriteRule    ^profile_text/?$    profile_text.php    [NC,L]

RewriteRule    ^forum/?$    updateforum.php    [NC,L]
RewriteRule    ^addcumatekkom/?$    addcumatekkom.php    [NC,L]

RewriteRule    ^titles/?$    section-title.php    [NC,L]
RewriteRule    ^event/?$    uploadevent.php    [NC,L]

RewriteRule    ^settings/?$    site-settings.php    [NC,L]

RewriteRule    ^logo/?$    updatelogo.php    [NC,L]

RewriteRule    ^alumni/?$    updatealumni.php    [NC,L]

RewriteRule    ^createslide/?$    add-slider.php    [NC,L]
RewriteRule    ^slider/?$    sliderlist.php    [NC,L]
RewriteRule    ^static/?$    static-home.php    [NC,L]
RewriteRule    ^contact/?$    updatecontact.php    [NC,L]


RewriteRule    ^banner/?$    updatebanner.php    [NC,L]
RewriteRule    ^cumatekkom/?$    cumatekkom.php    [NC,L]

RewriteRule    ^createsocial/?$    add-social.php    [NC,L]
RewriteRule    ^social/?$    social-links.php    [NC,L]
